{% extends "base.html" %}
{% block content %}
<div class="main main-raised">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <ul class="nav nav-pills nav-pills-primary">
            <li class="nav-item">
              <a class="nav-link" href="#pill1" data-toggle="tab">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill2" data-toggle="tab">World</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill3" data-toggle="tab">Arts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" href="#pill3" data-toggle="tab">Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pill3" data-toggle="tab">Business</a>
            </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane" id="pill1"></div>
            <div class="tab-pane" id="pill2"></div>
            <div class="tab-pane active show" id="pill3"></div>
            <div class="tab-pane" id="pill4"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/office2.jpg')">
            <div class="card-body">
              <h6 class="card-category text-info">Worlds</h6>
              <a href="#pablo">
                <h3 class="card-title">The Best Productivity Apps on Market</h3>
              </a>
              <p class="card-description">
                Don't be scared of the truth because we need to 
restart the human foundation in truth And I love you like Kanye loves 
Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-danger btn-round">
                <i class="material-icons">format_align_left</i> Read Article
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/blog8.jpg')">
            <div class="card-body">
              <h6 class="card-category text-info">Business</h6>
              <h3 class="card-title">Working on Wallstreet is Not So Easy</h3>
              <p class="card-description">
                Don't be scared of the truth because we need to 
restart the human foundation in truth And I love you like Kanye loves 
Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-primary btn-round">
                <i class="material-icons">format_align_left</i> Read Article
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/card-project6.jpg')">
            <div class="card-body">
              <h3 class="card-title">About Cameron</h3>
              <p class="card-description">

                  From Java software developer, to clinical psychologist, to data scientist. On the surface people assume that these are radical 
                  changes. I've never felt that way. To me they are all endeavors that call for critical and creative thinking to help solve 
                  problems that relate to massive amounts of data. I thrive in such an environment, loving the challenge of not only exploring 
                  the data at hand, but determining which questions will be the most beneficial to ask in order to provide an exceptional outcome. 

                  <p class="card-description">
                  My love of technology and people, as well as extensive experience with both, lend me a unique set of talents that enable me 
                  to quickly adapt and step into almost any role a team needs.  When I am not diving into oceans of data, you'll find me, 
                  camera in hand, exploring Colorado, searching for beautiful landscapes and architecture to photograph.  I also enjoy playing 
                  guitar, golfing and riding my bike.
                  </p>
                  <p class="card-description">
                  Reach out to say hi if you'd like to know more!
                </p>
              </p>
              <img class="img-raised rounded-circle img-fluid img-responsive center-block" src="../static/img/headshot.jpg" alt="Cameron Gridley headshot">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<!--
<div class="card card-nav-tabs">
	<h4 class="card-header card-header-info">About Cameron</h4>
	<div class="card-body">



                <div class="row">
                  <div class="col">
                <h2 class="featurette-heading">My professional background. </h2>
                <p class="lead">
                  From Java software developer, to clinical psychologist, to data scientist. On the surface people assume that these are radical 
                  changes. I've never felt that way. To me they are all endeavors that call for critical and creative thinking to help solve 
                  problems that relate to massive amounts of data. I thrive in such an environment, loving the challenge of not only exploring 
                  the data at hand, but determining which questions will be the most beneficial to ask in order to provide an exceptional outcome. 
                </p>
                  <p class="lead">
                  My love of technology and people, as well as extensive experience with both, lend me a unique set of talents that enable me 
                  to quickly adapt and step into almost any role a team needs.  When I am not diving into oceans of data, you'll find me, 
                  camera in hand, exploring Colorado, searching for beautiful landscapes and architecture to photograph.  I also enjoy playing 
                  guitar, golfing and riding my bike.
                  </p>
                  <p class="lead">
                  Reach out to say hi if you'd like to know more!
                </p></div>
              
                
            </div>
            <div class="row">
              <div class="col">
               <br> 
              <p> 
                <img class="img-raised rounded-circle img-fluid img-responsive center-block" src="../static/img/headshot.jpg" alt="Cameron Gridley headshot">
              </p></div>
            </div>
            </div>
	</div>
  </div>
-->
{% endblock %}