{% extends "base.html" %}
{% block content %}

<div class="card card-nav-tabs">
	<h4 class="card-header card-header-info">About Cameron</h4>
	<div class="card-body">




                <h2 class="featurette-heading">My professional background. </h2>
                <p class="lead">
                  I believe in people's ability to take power into their own hands and make changes in their lives that will bring them happiness. I have worked for many years to help people find and use this power to live fuller and more satisfying lives.</p>
                  <p class="lead">
                  I graduated with a B.A. in Psychology from Yale University, and went on to earn my M.A. and Psy.D. (Doctorate of Psychology) in Clinical Psychology at the California School of Professional Psychology. Before entering private practice, I worked in several community family clinics, where I provided therapy for couples, families, adult individuals, adolescents and children. In addition, I worked at the University of California/San Francisco General Hospital, where I received specialized training in cognitive behavioral therapy and therapy for victims of trauma. I am also a certified sex therapist through the <a href="http://aasect.org/find-professional/listing/1/5060" target="_blank">American Association of Sexuality Educators, Counselors and Therapists</a> (AASECT).</p>
                  <p class="lead">
                  In addition to working in private practice, I am an adjunct professor at the University of Denver's Graduate School of Professional Psychology where I teach couples therapy. I have previously taught a variety of psychology classes at the Metropolitan State University of Denver.</p>
                  <p class="lead">
                  I have extensive experience working with individuals who are struggling with difficulties such as depression, anxiety, trauma, and sexual problems. I pride myself on being engaging and working collaboratively with my clients. I believe the therapy process is something that we embark upon on together.</p>
                  <p class="lead">
                  Traditionally, couples therapy and sex therapy are separate processes. However, I believe that the emotional relationship with a partner is intricately connected to the sexual relationship. Separating them serves only to diminish the importance of both. I strive to help people find confidence, comfort and feelings of safety that allow a full emotional and sexual relationship to blossom.</p>
                  <p class="lead">
                  I am originally from Florida. Before coming to Denver, I lived In New York for three years and San Francisco for five years. In my spare time I like to mountain bike, road bike, hike, camp and enjoy Denver.
                </p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="../static/img/cameron-gridley.gif" alt="Couples Therapy, Sex Therapy, and Individual Therapy">
              </div>
	</div>
  </div>

{% endblock %}