{% extends "base.html" %}
{% block content %}


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/card-project6.jpg')">
            <div class="card-body">
              <h3 class="card-header card-header-info"><strong>Contact Me</strong></h3>
              <div class="card-body">
                <br>
                <p class="lead"><strong>Cameron Gridley</strong>
                  <br>Data Scientist | Licenced Clinical Psychologist</p>
                <p class="lead">303.763.0282<br />
                  <a href="mailto:cgridley@gmail.com">cgridley@gmail.com</a></p>
                <p class="lead">
                  LinkedIn: <a href='https://www.linkedin.com/in/cameron-gridley/' target="_blank">https://www.linkedin.com/in/cameron-gridley/</a>
                </p>
                <p class="lead">
                  GitHub: <a href='https://github.com/camerongridley' target="_blank">https://github.com/camerongridley</a></p>
                <br>
                </p>
                <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
