{% extends "base.html" %}
{% block content %}

<div class="col-md-7">
	<h2 class="featurette-heading">Helping people find a good therapist with artifical intelligence and machine learning. <span class="text-muted"></span></h2>
	<p class="lead">
	  Some description of the app...

	</p>
	<p class="lead">
		<h1>Ready to find a therapist?</h1>
		<p>
			<button type="button" class="btn btn-info">
			<a href="/submit">Get Started!</a></button>
		</p>
	</p>
	

  </div> 
   
  <div class="col-md-5">
		<img class="featurette-image img-responsive center-block" id="firstfeaturetteimage" src="../static/img/working-together.jpg" alt="">
	  </div>
{% endblock %}