{% extends "base.html" %}
{% block content %}


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/card-project6.jpg')">
            <div class="card-body">
              <h3 class="card-header card-header-info"><strong>Find a therapist with ease.</strong></h3>
              <div class="card-body">
                <h4 class="card-title"><br>Find Your Fit uses Machine Learning and Natural Language Processing to recommend therapists tailored to how you think and communicate.</h4>
				<p class="card-text">Leave all the jargon behind and focus on finding a therapist in your own way and with your own words.</p>
				<a href="/submit" class="btn btn-primary">Get Started!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



