{% extends "base.html" %}
{% block content %}

<div class="card card-nav-tabs">
	<h4 class="card-header card-header-info">Find a therapist with ease.</h4>
	<div class="card-body">
	  <h4 class="card-title">Find Your Fit uses Machine Learning and Natural Language Processing to recommend therapists tailerored to how you think and communicate.</h4>
	  <p class="card-text">Leave all the jargon behind and focus on finding a therapist in your own way and with your own words.</p>
	  <a href="/submit" class="btn btn-primary">Get Started!</a>
	</div>
  </div>
  
  
<!--
<div class="col-md-7">
	<h2 class="featurette-heading">Helping people find a good therapist with artifical intelligence and machine learning. <span class="text-muted"></span></h2>
	<p class="lead">
	  Some description of the app...

	</p>
	<p class="lead">
		<h1>Ready to find a therapist?</h1>
		<p>
			<button type="button" class="btn btn-warning">
			<a href="/submit">Get Started!</a></button>
		</p>
	</p>
	

  </div> 
   
  <div class="col-md-5">
		<img class="featurette-image img-responsive center-block" id="firstfeaturetteimage" src="../static/img/working-together.jpg" alt="">
	  </div>
-->
{% endblock %}