{% extends "base.html" %}
{% block content %}

<div class="main main-raised">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/card-project6.jpg')">
            <div class="card-body">
              <h3 class="card-header card-header-info"><strong>Card Header</strong></h3>
              <h4 class="card-title">Title if desired</h4>
              <p class="card-description">
                Description here
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}