{% extends "base.html" %}
{% block content %}
<div class='container'>
  <div class="card bg-light text-white mx-auto" style="width: 80%;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" rel="nofollow" alt="Card image cap">
    <div class="card-img-overlay">
      <h2 class="card-title">Tell us what you need.</h2>
      <p class="card-text">The more descriptive you are about what you are looking for help with 
        and what you want in a therapist, the better we can match you up to a 
        therapist who thinks about these topics in similar ways to you.</p>
      <p class="card-text"></p>
    </div>
    <div class="card-body">
      <p class="card-text">


        <!--
      <form action='/recommend' method='POST'>
        <div class="form-group">
          <label for="state">Please select a state:</label>
          <select class="form-control" name="state" id="state">
            {% for s in state_list %}
            <option value={{s.strip()}} {%if s.strip() == 'California' %}selected{% endif%}>{{s}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="form-group">
          <label for="num_recs_choice">How many Recommendations?</label>
          <select class="form-control" name="num_recs_choice" id="num_recs_choice">
            {% for i in range(1,11,1) %}
            <option value={{i}} {%if i == 4 %}selected{% endif%}>{{i}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="form-group">
          
          <textarea class="form-control" id="writing_sample" id="writing_sample" rows="5"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>  
  </form>

-->




  <form action='/recommend' method='POST'>
    <div class="form-group">
      <label for="state">Please select a state:</label>
      <select class="form-control" name="state" id="state">
        {% for s in state_list %}
        <option value={{s.strip()}} {%if s.strip() == 'California' %}selected{% endif%}>{{s}}</option>
        {%endfor%}
      </select>
    </div>
      
  <br>
  
  
  <div class="form-group">
    <label for="num_recs_choice">How many Recommendations?</label>
    <select class="form-control" name="num_recs_choice" id="num_recs_choice">
      {% for i in range(1,11,1) %}
      <option value={{i}} {%if i == 4 %}selected{% endif%}>{{i}}</option>
      {%endfor%}
    </select>
  </div>
    <br>
    <label for="writing_sample">What are you looking for help with?</label>
    <textarea class="md-textarea form-control" name="writing_sample"  id="writing_sample" rows="10" cols="30">
"Although I have been healing for the past two years with lot of therapy and self care . 
I don’t feel “normal” . I am not the same person as I was when I was 18 . It is frustrating and 
sometimes causes me to unable to do things I really want to do . For example , I want to date people 
and experience more sex but I can’t bring myself to do it . Every time I have feelings for someone , 
I ended up telling myself that I don’t deserve to be with that person because for years , I have 
convinced myself that I am “broken “ . I feel that a lot of my experiences to explore more of my 
sexuality and sex was robbed by an event I had when I was eighteen . I ran away from it 
by joining a Christian campus group which I regret deeply . I was even more further shamed for my 
sexuality and a desire to have sex . Thankfully , I left that fucking group ,later joined a university 
in a diverse city after I graduated from a community college . I am super happy that I did because 
I finally was able to learn what an healthy sex life looks like . I had feelings for several people 
but was unable to tell them . I even joined tinder and met some people but I freaked out and stop 
responding to people that I was interested in dating ( I know it is a dick move, I was paralyzed 
with fear . I still feel guilty about it ) . I want to stop being paranoid about people but honestly 
it really because I don’t trust myself sometimes . I hate it . I hate that it made me feel 
invalidated. I have this stupid fear that people wouldn’t want to be with me because I haven’t have 
a lot of experience in having sex. I am 27 now and I haven’t been in relationships or have sex or 
dated . What is wrong with me ?"

    </textarea>
  
  
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>













      </p>
    </div>
  </div>
  

<!--
<div class="col-md-7">
	<h2 class="featurette-heading">Tell us what you need.<span class="text-muted"></span></h2>
	<p class="lead">
      The more descriptive you are about what you are looking for help with 
      and what you want in a therapist, the better we can match you up to a 
      therapist who thinks about these topics in similar ways to you.
	</p>
<form action='/recommend' method='POST'>
  <label for="state">State:</label>
  <select name="state" id="state">
    {% for s in state_list %}
    <option value={{s.strip()}} {%if s.strip() == 'California' %}selected{% endif%}>{{s}}</option>
    {%endfor%}
  </select>
    
<br><br>


  <label for="num_recs_choice">Number of Recommendations:</label>
  <select name="num_recs_choice" id="num_recs_choice">
    {% for i in range(1,11,1) %}
    <option value={{i}} {%if i == 4 %}selected{% endif%}>{{i}}</option>
    {%endfor%}
  </select>
  <br><br>

  <textarea class="form-control" name="writing_sample"  id="writing_sample" rows="5" cols="30"></textarea>


  <br>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
</div>
<div class="col-md-5">
    <img class="featurette-image img-responsive center-block" id="firstfeaturetteimage" src="../static/img/compassion.jpg" alt="">
  </div>
-->
</div>
{% endblock %}


