<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Therapist Recommender</title>

  <meta name="description" content="Therapist Recommender">
  <meta name="author" content="Cameron Gridley">

</head>

<body>
    <h1>Please tell us about what you would like to get out of therapy and what you are looking for in a therapist.</h1>
        <p>
            <form action='/recommend' method='POST'>
                <label for="state">State:</label>
                <input type="text" id="state" name="state"><br><br>
                <label for="num_recs_choice">Number of Recommendations:</label>
                <input type="text" id="num_recs_choice" name="num_recs_choice"><br><br>


                <textarea name="writing_sample" rows="4" cols="50"></textarea>

                

                <input type='submit'>
            </form>
        </p>

</body>
</html>