
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" href="../static/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Find Your Fit
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container">
          <a class="navbar-brand" href="/">Therapist Recommender</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if current_page == 'INDEX' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item {% if current_page == 'SUBMIT' %}active{% endif %}">
                <a class="nav-link" href="/submit">Get Recommendations<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% if current_page == 'ABOUT' %}active{% endif %}">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item {% if current_page == 'CONTACT' %}active{% endif %}">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <span class="navbar-text">
              
            </span>
          </div>
        </div>
      </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../static/img/main.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Find Your Fit</h1>
          <h4>Let your story find you the right therapist</h4>
          <br>
          
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <ul class="nav nav-pills nav-pills-primary">
              <li class="nav-item">
                <a class="nav-link" href="#pill1" data-toggle="tab">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pill2" data-toggle="tab">World</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pill3" data-toggle="tab">Arts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active show" href="#pill3" data-toggle="tab">Tech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pill3" data-toggle="tab">Business</a>
              </li>
            </ul>
            <div class="tab-content tab-space">
              <div class="tab-pane" id="pill1"></div>
              <div class="tab-pane" id="pill2"></div>
              <div class="tab-pane active show" id="pill3"></div>
              <div class="tab-pane" id="pill4"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/office2.jpg')">
              <div class="card-body">
                <h6 class="card-category text-info">Worlds</h6>
                <a href="#pablo">
                  <h3 class="card-title">The Best Productivity Apps on Market</h3>
                </a>
                <p class="card-description">
                  Don't be scared of the truth because we need to 
  restart the human foundation in truth And I love you like Kanye loves 
  Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-danger btn-round">
                  <i class="material-icons">format_align_left</i> Read Article
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/blog8.jpg')">
              <div class="card-body">
                <h6 class="card-category text-info">Business</h6>
                <h3 class="card-title">Working on Wallstreet is Not So Easy</h3>
                <p class="card-description">
                  Don't be scared of the truth because we need to 
  restart the human foundation in truth And I love you like Kanye loves 
  Kanye I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-primary btn-round">
                  <i class="material-icons">format_align_left</i> Read Article
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-raised card-background" style="background-image: url('../static/assets/img/examples/card-project6.jpg')">
              <div class="card-body">
                <h3 class="card-title">About Cameron</h3>
                <p class="card-description">
  
                    From Java software developer, to clinical psychologist, to data scientist. On the surface people assume that these are radical 
                    changes. I've never felt that way. To me they are all endeavors that call for critical and creative thinking to help solve 
                    problems that relate to massive amounts of data. I thrive in such an environment, loving the challenge of not only exploring 
                    the data at hand, but determining which questions will be the most beneficial to ask in order to provide an exceptional outcome. 
  
                    <p class="card-description">
                    My love of technology and people, as well as extensive experience with both, lend me a unique set of talents that enable me 
                    to quickly adapt and step into almost any role a team needs.  When I am not diving into oceans of data, you'll find me, 
                    camera in hand, exploring Colorado, searching for beautiful landscapes and architecture to photograph.  I also enjoy playing 
                    guitar, golfing and riding my bike.
                    </p>
                    <p class="card-description">
                    Reach out to say hi if you'd like to know more!
                  </p>
                </p>
                <img class="img-raised rounded-circle img-fluid img-responsive center-block" src="../static/img/headshot.jpg" alt="Cameron Gridley headshot">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com/">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/blog">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../static/assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
</body>

</html>