<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Therapist Recommender</title>

  <meta name="description" content="Therapist Recommender">
  <meta name="author" content="Cameron Gridley">

</head>

<body>
    <h1>Please tell us about what you would like to get out of therapy and what you are looking for in a therapist.</h1>
        <p>
            <form action='/recommend' method='POST'>
                <textarea name="writing_sample" rows="4" cols="50"></textarea>
                <input type='submit'>
            </form>
        </p>

</body>
</html>